.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.main_sub {
  margin-top: 15%;
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main_title1 {
  display: flex;
  animation: textSubFade 1.5s;
}

.index_img {
  width: 30px;
  animation: mouseClick 4s 1s infinite;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.main_text {
  animation: mouseClick2 4s 1s infinite;
  color: rgb(80, 80, 80);
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 0;
}

@keyframes mouseClick {
  10% {
    transform: scale(1);
  }

  12% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1);
  }
}

@keyframes mouseClick2 {
  10% {
    transform: scale(1);
  }

  11% {
    opacity: 1;
  }
  12% {
    transform: scale(0.96);
    opacity: 0.8;
  }
  20% {
    transform: scale(0.96);
    opacity: 0.8;
  }
  27% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 515px) {
  .main_container {
    width: 100%;
  }

  .main_sub {
    width: 100%;
  }
}

.main_sub2 {
  margin-top: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_sub2 svg {
  height: 50px;
  border-radius: 50%;
}

.main_sub2 svg:hover {
  fill: #7f34c5;
  transition: 0.8s;
  cursor: pointer;
}

.main_sub_text {
  animation: textSubFade 2s;
  color: rgb(80, 80, 80);
}

.home_top {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 300px;
}

mark {
  background-color: transparent;
  color: rgb(127, 52, 197);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip_hidden {
  visibility: hidden;
  width: 100px;
  background-color: rgb(80, 80, 80);
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -50px;
}

.th2 {
  width: 200px !important;
  margin-left: -100px !important;
}

.tooltip .tooltip_hidden::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(80, 80, 80) transparent transparent transparent;
}

.tooltip:hover .tooltip_hidden {
  visibility: visible;
  animation: toolTip 0.8s;
  animation-delay: 0.3s;
  transition-delay: 0.4s;
}

@keyframes toolTip {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
