body {
  background-color: #fff;
}

.home_container {
  height: 90vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding-top: 5%;
  margin: 5% 0;
  background-color: rgb(252, 252, 252);
}

/* Index */

.main_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.main_sub {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_text {
  animation: textFade 1.5s;
  color: rgb(80, 80, 80);
}

.main_sub_text {
  animation: textSubFade 2.5s;
  color: rgb(80, 80, 80);
}

.home_top {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 300px;
}

/* about */

.about_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about_container {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding: 5%;
  margin: 5% 0 2% 0;
  background-color: rgb(252, 252, 252);
}

.about_container p {
  letter-spacing: 1px;
  text-align: justify;
}

.about_sub_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding: 2%;
  margin: 5% 0 2% 0;
  background-color: rgb(252, 252, 252);
}

.about_name {
  align-self: start;
}

.profile_img {
  position: absolute;
  right: 1%;
  top: 2%;
  height: 180px;
  opacity: 0.9;
}

.bottom_links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 3%;
}

.links {
  text-decoration: none;
  color: #000;
}

.links:hover {
  transform: scale(1.05);
}

.logo {
  height: 250px;
}

.holder {
  text-align: center;
  width: 200px;
  height: auto;
  cursor: pointer;
}

.holder h2:hover {
  transform: scale(1.05);
}

.holder p:hover {
  font-weight: 900;
}

.hidden {
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: none;
  min-width: 160px;
  height: 100px;
  width: auto;
  z-index: 9999;
  animation: menuFade 1.5s;
  left: 2%;
  top: 52%;
  background-color: white;
  opacity: 0.8;
  padding: 2%;
}

.holder:hover .hidden {
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  display: block;
  height: auto;
}

.quote {
  width: 90%;
  font-size: 0.7rem;
  text-align: center;
}

.setup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setup_list {
  height: 300px;
}

.setup_list p {
  cursor: pointer;
}

.arrow {
  height: 30px;
}

.arrow:hover {
  transform: scale(1.05);
}

/* Portfolio */

.portfolio_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding: 5%;
  margin: 5% 0 2% 0;
  background-color: rgb(252, 252, 252);
}

.portfolio_img {
  width: 500px;
}

/* contacts */

.contacts_text {
  margin-top: 5%;
  letter-spacing: 2px;
}

.contacts_email {
  color: rgb(80, 80, 80);
  text-decoration: none;
  letter-spacing: 2px;
}

.contacts_email:hover {
    transform: scale(1.05);
}

@keyframes menuFade {
  0% {
    opacity: 0;
    transform: translateY(-50%, 30px);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-50%, 0);
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSubFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  35% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
