body {
  background-color: #fff;
}

.home_container {
  height: 90vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding-top: 5%;
  margin: 5% 0;
  background-color: rgb(252, 252, 252);
}

/* Index */

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.main_sub {
  margin-top: 15%;
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_sub2 {
  margin-top: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_sub2 svg {
  height: 50px;
  border-radius: 50%;
}

.main_sub2 svg:hover{
  fill: rgb(127, 52, 197);
  transition: .8s;
  cursor: pointer;
}

.main_text {
  animation: textFade 1.5s;
  color: rgb(80, 80, 80);
  font-size: 3rem;
}

.main_sub_text {
  animation: textSubFade 2.5s;
  color: rgb(80, 80, 80);
}

.home_top {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 300px;
}

mark {
  background-color: transparent;
  color: rgb(127, 52, 197);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip_hidden {
  visibility: hidden;
  width: 120px;
  background-color: rgb(80, 80, 80);
  /* color: #fff; */
color: #fff;
  font-size: .8rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip_hidden::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(80, 80, 80) transparent transparent transparent;
}

.tooltip:hover .tooltip_hidden {
  visibility: visible;
  animation: toolTip .8s;
  animation-delay: .4s;
  transition-delay: .4s;
}

@keyframes toolTip{
  0%{
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* about */

.about_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about_container {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding: 5%;
  margin: 5% 0 2% 0;
  background-color: rgb(252, 252, 252);
}

.about_container p {
  letter-spacing: 1px;
  text-align: justify;
}

.about_sub_container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  padding: 2%;
  margin: 5% 0 2% 0;
  background-color: rgb(252, 252, 252);
}

.about_name {
  align-self: start;
}

.profile_img {
  position: absolute;
  right: 1%;
  top: 2%;
  height: 180px;
  opacity: 0.9;
}

.bottom_links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 3%;
}

.links {
  text-decoration: none;
  color: #000;
}

.links:hover {
  transform: scale(1.05);
}

.logo {
  height: 250px;
}

.holder {
  text-align: center;
  width: 200px;
  height: auto;
  cursor: pointer;
}

.holder h2:hover {
  transform: scale(1.05);
}

.holder p:hover {
  font-weight: 900;
}

.hidden {
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: none;
  min-width: 160px;
  height: 100px;
  width: auto;
  z-index: 9999;
  animation: menuFade 1.5s;
  left: 2%;
  top: 52%;
  background-color: white;
  opacity: 0.8;
  padding: 2%;
}

.holder:hover .hidden {
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  display: block;
  height: auto;
}

.quote {
  width: 90%;
  font-size: 0.7rem;
  text-align: center;
}

.setup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setup_list {
  height: 300px;
}

.setup_list p {
  cursor: pointer;
}

.arrow {
  height: 30px;
}

.arrow:hover {
  transform: scale(1.05);
}

/* Portfolio */

.portfolio_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5%;
  margin: 5% 0 2% 0;
  box-shadow: 1px 1px 5px grey;
}

.container2 {
  box-shadow: none;
}

.port_map {
  width: 500px;
  margin-bottom: 5%;
  padding-bottom: 5%;
  box-shadow: 1px 1px 5px 2px grey;
  padding: 3% 2%;
}

.port_map a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.port_des {
  text-align: justify;
}

.port_map_sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.packages_map {
  border-right: 1px solid rgb(236, 236, 236);
  border-left: 1px solid rgb(236, 236, 236);
  margin: 1%;
  padding: 0 2%;
  display: inline-block;
  text-align: center;
  color: rgb(75, 75, 75);
  position: relative;
}

.packages_map:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(127, 52, 197);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.packages_map:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.packages_map:hover {
  background-color: rgb(252, 252, 252);
  transform: 1s ease-in;
}

.port_sub_container {
  display: flex;
  position: relative;
}

.portfolio_img {
  width: 100%;
  box-shadow: 1px 1px 15px rgb(184, 184, 184);
}

.hidden_mag {
  display: none;
}
.magnifying_glass {
  width: 100px;
}

.port_hidden {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 102%;
  width: 100%;
}

.port_sub_container:hover .port_hidden {
  display: block;
  animation: rightFade 0.7s;
}

.port_map_link {
  display: inline-block;
}

.port_map_link:hover {
  color: rgb(127, 52, 197)

}

@keyframes rightFade {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* contacts */

.contacts_text {
  margin-top: 5%;
  letter-spacing: 2px;
}

.contacts_email {
  color: rgb(80, 80, 80);
  text-decoration: none;
  letter-spacing: 2px;
}

.contacts_email:hover {
  transform: scale(1.05);
}

@keyframes menuFade {
  0% {
    opacity: 0;
    transform: translateY(-50%, 30px);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-50%, 0);
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSubFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  35% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
