.header {
  background-image: url(https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  display: flex;
  justify-content: space-between;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.sub_header {
  display: flex;
}

.header_title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.big_title {
  font-size: 3rem;
  font-weight: 500;
  margin-left: 20%;
  width: 90px;
}

.header_title:active {
  color: rgb(224, 224, 224);
}

.header_right {
  display: flex;
  width: 100%;
  align-items: center;
}

.header_hidden {
  display: none;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 2%;
  transition: 1s ease;
}

.header_right:hover .header_hidden {
  display: block;
  animation: rightFade 0.7s;
}

.header_hidden h3 {
  font-size: 2rem;
  font-weight: 450;
}

.header_left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.header h2 {
  font-size: 1.5rem;
}

.header h2:hover {
  border-bottom: 5px solid rgb(127, 52, 197);
  padding-bottom: 1%;
  /* transition: .2s ease; */
}


@keyframes rightFade {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftFade {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-300px);
  }
}

@media (max-width: 900px) {
  .header h2 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .header_left {
    width: 58%;
  }

  .header_right {
    width: 42%
  }

  .header h3, .big_title {
    font-size: 1.7rem;
  }

  .big_title {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .header h3, .big_title {
    font-size: 1.3rem;
  }
  .header h2 {
    font-size: .7rem;
  }

}