.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90px;
    background: linear-gradient(to top, rgb(190, 190, 190) 0%, #fff 80%);
}

.footer p {
    font-size: .8rem;
}

.footer_container {
    display: flex;
    align-items: center;
}

.olive {
    height: 20px;
}