.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 2%;
}

.image_icon {
    height: 100%;
    width: 100%;
}

.image_front {
    height: 100%;
}

.icon_container {
    position: relative;
    height: 90px;
    width: 100px;
    margin: 2%;
}

.image_name {
    display: none;
    position: absolute;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.image_icon:hover {
    animation: iconOut .4s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
}

.image_front:hover .image_name {
    display: block;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

  @keyframes iconOut {
    0% {
      opacity: 1;
      
    }
  
    100% {
        
      opacity: .1;
    }
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }